@model Online_Inventory.Models.ProductTable
@Html.ValidationSummary(true)

<style>
    body {
        background-size: 1400px 1000px;
    }

    h4 {
        font-family: Georgia;
        font-size: 36px;
        color: beige;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        color: aquamarine;
    }

    label {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 21px;
        color: antiquewhite;
    }
</style>

@using (Html.BeginForm("EditProduct", "Home", FormMethod.Post))

{

    <div class="card-header">
        <h4>Edit Product</h4>
    </div>

    <div class="card-body">
        <div class="form-group has-success has-feedback">
            <label for="addcid">Product ID</label>
            <p>@Html.HiddenFor(model => model.productId)</p>
            <p>@Html.DisplayFor(model => model.productId)</p>

        </div>
        <div class="form-group">
            <label for="addcname">Product Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="addcname">Category Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.categoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.categoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="addcname">Product Cost</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productSP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="addcname">Product Quantity</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
}


