@model Online_Inventory.Models.LoginCred
@Html.ValidationSummary(true)
@{
    Layout = null;

}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login | GiftsOnline</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>


    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>


    <script src="~/Scripts/bootstrap.js"></script>

    <style type="text/css">
        body {
            background: url('../../Source/bg (4).jpg');
            background-repeat: no-repeat;
            background-size: 1400px 750px;
        }
        /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>





</head>
<body>

    <div class="container">
        <br /><br /><br /><br />

        <div class="row">
            <div class="col-sm">

            </div>

            <div class="col-xl-13">
                <img style="border-image-width:100px; height:120px; color:white;" src="~/Source/logoMain.png" />
            </div>
            <div class="col-sm">

            </div>
        </div>


        <div class="row">
            <div class="col-sm">

            </div>

            <div class="col-xl-13">
                <h1 style="color:whitesmoke;">GiftsOnline</h1>
            </div>
            <div class="col-sm">

            </div>
        </div>
        <br />


        <div class="row">
            <div class="col-sm">

            </div>

            <div class="align-content-lg-stretch">
                <h3 style="color:lightgray; font-size:15px; align-content:center;">GiftsOnline is a Web Based Application which deals with your all the needs for the gifts.</h3>

            </div>

            <div class="col-sm">

            </div>

        </div>


        <div class="row">
            <div class="col-sm">

            </div>

            <div class="align-content-lg-stretch">
                <h3 style="color:whitesmoke; font-size:15px; align-content:center;">GiftsOnline Inventory Management System deals with storing the data about all the products present in our store.</h3>

            </div>

            <div class="col-sm">

            </div>

        </div>


        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <div class="row">
            <div class="col-sm">

            </div>

            <div class="align-content-lg-stretch">

                <button type="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#LoginModel">Login</button>

            </div>

            <div class="col-sm">

            </div>

        </div>

    </div>



    <div class="modal fade" id="LoginModel" tabindex="-5" contenteditable="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">

            @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
            {
            <div class="modal-content">


                @Html.AntiForgeryToken()

                <div class="modal-header">
                    <h4 class="modal-title" id="LoginModel">Login</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                
                
                <label class="field-validation-error" style="color:red; font-family:Arial, Helvetica, sans-serif; font-size:13px;">@Html.DisplayFor(x => x.LoginErrorMessage)</label>

                <div class="form-group has-success has-feedback">
                    <label for="LoginEmail">Email</label>
                    @Html.TextBoxFor(x => x.emailadmin, new { @class = "form-control", @placeholder = "example@xyz.com" })
                    
                    <label class="field-validation-error" style="color:red; font-family:Arial, Helvetica, sans-serif; font-size:13px;">
                        @Html.ValidationMessageFor(x => x.emailadmin, "", new { @class = "text-danger" })
                    </label>
                </div>

                <div class="form-group has-success has-feedback">
                    <label for="LoginPassword">Password</label>
                    @Html.TextBoxFor(x => x.passtologin, new { @class = "form-control", @placeholder = "Password" })
                    
                    <label class="field-validation-error" style="color:red; font-family:Arial, Helvetica, sans-serif; font-size:13px;">
                        @Html.ValidationMessageFor(x => x.passtologin, "", new { @class = "text-danger" })
                    </label>

                </div>

                <div class="form-group has-success has-feedback">
                    <p><small>Forget Credentials? @Html.ActionLink("Contact Developers", "Contact", "Home")</small></p>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Reset</button>
                </div>


            </div>
            }

        </div>
    </div>



</body>
</html>